<% 
  var active = typeof activeSection !== 'undefined' ? activeSection : '';
  var isBlog = active === 'blog';
%>
<header id="cs-navigation">
    <div class="cs-container">
        <a href="https://www.fishtownwebdesign.com/" class="cs-logo" aria-label="back to home">
            <picture>
                <source media="(max-width: 600px)" srcset="/public/content/home/logo-m.webp">
                <source media="(min-width: 601px)" srcset="/public/content/home/logo.webp">
                <img
                    src="/public/content/home/logo.png"
                    alt="Fishtown Web Design - Philadelphia Web Design Agency Logo"
                    decoding="async"
                    id="logo"
                    width="130"
                    height="46"
                    fetchpriority="high">
            </picture>
        </a>
        <nav class="cs-nav" role="navigation">
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="https://www.fishtownwebdesign.com/" class="cs-li-link<%= isBlog ? '' : ' cs-active' %>">home</a>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link">
                            about
                            <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/about" class="cs-li-link cs-drop-link">about us</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/faq" class="cs-li-link cs-drop-link">faq</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/charity" class="cs-li-link cs-drop-link">charity</a></li>
                        </ul>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link">
                            services
                            <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/web-design" class="cs-li-link cs-drop-link">web design</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/seo" class="cs-li-link cs-drop-link">seo</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/saas-development" class="cs-li-link cs-drop-link">saas development</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/app-development" class="cs-li-link cs-drop-link">app development</a></li>
                        </ul>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link">
                            industries
                            <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/contractor-web-design" class="cs-li-link cs-drop-link">contractors</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/venue-web-design" class="cs-li-link cs-drop-link">venues</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/ecommerce-web-design" class="cs-li-link cs-drop-link">e-commerce</a></li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/startup-product-development" class="cs-li-link cs-drop-link">startups</a></li>
                        </ul>
                    </li>
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link">locations<img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="" width="15" height="15" decoding="async" aria-hidden="true"></span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li cs-dropdown-nested" tabindex="0">
                                <span class="cs-li-link cs-drop-link">philadelphia<img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="" width="15" height="15" decoding="async" aria-hidden="true" style="margin-left: 8px;"></span>
                                <ul class="cs-drop-ul-nested">
                                    <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/web-design-fishtown" class="cs-li-link cs-drop-link">fishtown</a></li>
                                    <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/web-design-center-city" class="cs-li-link cs-drop-link">center city</a></li>
                                    <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/web-design-old-city" class="cs-li-link cs-drop-link">old city</a></li>
                                    <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/web-design-northern-liberties" class="cs-li-link cs-drop-link">northern liberties</a></li>
                                    <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/web-design-university-city" class="cs-li-link cs-drop-link">university city</a></li>
                                </ul>
                            </li>
                            <li class="cs-drop-li"><a href="https://www.fishtownwebdesign.com/web-design-lancaster-pa" class="cs-li-link cs-drop-link">lancaster, pa</a></li>
                        </ul>
                    </li>
                    <li class="cs-li"><a href="https://www.fishtownwebdesign.com/pricing" class="cs-li-link">pricing</a></li>
                    <li class="cs-li"><a href="https://www.fishtownwebdesign.com/contact" class="cs-li-link">contact</a></li>
                    <li class="cs-li"><a href="https://www.fishtownwebdesign.com/blog" class="cs-li-link<%= isBlog ? ' cs-active' : '' %>">blog</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
